{
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"endOfLine": "auto",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.js"
}
